<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action method="post">
        <p>제품명<input type="text" name="name"></p>
        <!--  account  -->
        <p>담당자Id<input type="text" name="managerId" th:value="${managerId}" readonly></p>
        <p>담당자명<input type="text" name="manager" th:value="${manager}" readonly></p>
        <p>가격<input type="text" name="price"></p>
        <p>수량<input type="text" name="quantity"></p>
        <input type="submit" value="제품등록">
    </form>
</body>
</html>